{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HashMap - Traffic Predictor</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}" >

  <!-- Custom styles for this template -->
  <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">HashMap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://docs.google.com/document/d/e/2PACX-1vTLZXseiFM7tj_tnSY-vL8N2k3irDRTSqwzvapx51YUMizZS6UR5-f-nPptztD4gX5VgM--lDFkLTjR/pub">Press Release</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://github.com/Jackson-Le/HashAi">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-4 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Watch this short video about HashMap!</h1>
            <a href="https://core.hash.ai/@jacksonle/demandtest/main" class="btn btn-outline btn-xl js-scroll-trigger">Or Get Started Predicting Traffic!</a>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="device-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/iGzDB5-Ub-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
  </header>


<section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Simulate Traffic in Three Easy Steps</h2>
        <p class="text-muted"></p>
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-6 my-auto">
          <div class="device-container">
            <div class="device-mockup ipad landscape white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/hashmap_pc_demo2.gif' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>

          <br><br><br>


          <div class="device-container">
            <div class="device-mockup ipad_pro landscape white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/hashmap_pc_demo2.gif' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>

          <br><br><br>

        <div class="device-container">
            <div class="device-mockup macbook landscape white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/hashmap_pc_demo2.gif' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>

            <br><br><br>

          <div class="device-container">
            <div class="device-mockup imac landscape white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/hashmap_pc_demo2.gif' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-control-play text-primary"></i>
                  <a href="#hash.ai" ><h3>Click Link to Get Started</h3></a>
                  <p class="text-muted">You will be redirected to the simulation dashboard. You may need to register to use the simulation.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-control-forward text-primary"></i>
                  <h3>Select Geospatial View</h3>
                  <p class="text-muted">In the 3D View Window, Select Geospatial View.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <!-- <i class="icon-check text-primary"></i> -->
                  <svg width="100" height="100" viewBox="0 0 24 24" class="Icon IconRunFast"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.375 6.938a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm-2.7 10.425l.75-3.3 1.575 1.5v4.5h1.5v-5.625l-1.575-1.5.45-2.25a5.49 5.49 0 004.125 1.874v-1.5a3.69 3.69 0 01-3.225-1.8l-.75-1.2c-.27-.45-.75-.732-1.275-.75-.113 0-.206.02-.3.038-.094.019-.188.038-.3.038l-3.9 1.65v3.524h1.5v-2.55l1.35-.524-1.2 6.075-3.675-.75-.3 1.5 5.25 1.05zM5.25 8.813c0 .414.336.75.75.75h2.25v-1.5H6a.75.75 0 00-.75.75zm1.5-2.25a.75.75 0 110-1.5h3.75v1.5H6.75zm-2.25 5.25c0 .414.336.75.75.75h3v-1.5h-3a.75.75 0 00-.75.75z"></path></svg>
                  <h3>Click to Start Simulation.</h3>
                  <p class="text-muted">Click the "Running Man" icon at the bottom of the map to start the simulation.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="masthead" id="hash.ai">
    <div class="container">
            <div class="col-lg-16 my-auto">
                <div class="device-container">
                  <iframe height=600 style="min-height:700; width:100%;" src="https://core.hash.ai/@jacksonle/demandtest/main" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
    </div>
</section>


  <header style="position: relative; z-index: 1;">
  <div class="video-container" style="position: relative; z-index: 2;"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="position:absolute; overflow: hidden; min-width:100%; object-fit: fill;">
    <!-- <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"> -->
    <!-- --><source src="https://assets.mixkit.co/videos/preview/mixkit-night-traffic-highwat-junction-20205-large.mp4" type="video/mp4">
  </video>
</header>
  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Stop waiting.<br>Start simulating.</h2>
        <a href="https://core.hash.ai/@jacksonle/demandtest/main" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
      </div>
    </div>

    <div class="overlay"></div>
  </section>



  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fas fa-heart"></i>
        new friends!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; HashMap 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/new-age.min.js' %}"></script>

</body>

</html>
